<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./static/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="./static/style_dev.css" media="screen"/>
</head>
<body class="debug">
    <div id="content-svg"></div>
    <div id="canvas">
        <div>
            <div id="begin" class="notransition">
                <p>Tu es prêt ?</p>
                <p>Alors appui sur</p>
                <p>ou tape sur la touche<strong>[ Entrée ]</strong></p>
                <button onclick="zoom(true);">commencer</button>
            </div>
            <canvas id="animation"></canvas>
            <div id="animation-mask" class="notransition"></div>
        </div>
    </div>
    <div id="stand"></div>
    <div id="frame">
        <h1>Stand de tir</h1>
    </div>
    <div id="mask">
        <div class="corner-top-left"></div>
        <div class="corner-top-right"></div>
        <div class="corner-bottom-left"></div>
        <div class="corner-bottom-right"></div>
    </div>
    <div id="success"></div>
    <div id="dev-info"></div>
    <script src="./static/script.js"></script>
</body>
