body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a1332d;
}

#content-svg {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: "Arial", "Helvetica", sans-serif;
    background: url(shooting_stand.min.svg) center center;
    margin: 0;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 3s;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

#canvas.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* SVG size :
 * 
 * width : 1074.441
 * height: 781.071
 */
 
#canvas {
    top: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#canvas > div {
    width: 100vw;
    height: 72.6955691vw; /* 1074.441 / 781.071 */
    margin-top: -36.34778455%; /* 1074.441 / 781.071 / 2 */
}

#begin {
    position: absolute;
    top: -12vw;
    left: 26%;
    height: 13vw;
    width: 42%;
    font-family: sans-serif;
    font-size: 2.5vw;
    --webkit-font-size: 2.5vw;
    transition-duration: 3s;
}

#begin p {
    margin: 2.9% 0;
    -webkit-margin-before: 1%;
}

#begin button {
    top: 31%;
    right: 24%;
    cursor: pointer;
    background: #a1332d;
    color: white;
    border-radius: 0.5rem;
    position: absolute;
    padding: 0.5vw;
    border: none;
    font-size: 2.5vw;
    --webkit-font-size: 2.5vw;
}

#begin strong {
    color: #a1332d;
    margin-left: 1rem;
}

#animation-mask {
    background: #dfb17d;
    width: 50%;
    height: 8vw;
    position: absolute;
    top: 14.5vw;
    left: 38%;
    transition-duration: 3s;
}

#begin.notransition,
#animation-mask.notransition {
    transition-duration: initial;
}

@media (min-aspect-ratio: 1074/781) {
    #canvas {
        top: 0;
        left: 50%;
        width: auto;
        height: 100%;
    }
    
    #canvas > div {
        width: 137.5599657vh;
        height: 100%;
        margin-top: 0;
        margin-left: -50%;
    }

    #begin {
        position: absolute;
        top: 33%;
        left: -26%;
        height: 17%;
        width: 42%;
        font-family: sans-serif;
        font-size: 3.8vh;
        --webkit-font-size: 3.8vh;
    }
    
    #begin button {
        top: 30%;
        right: 10%;
        font-size: 3.8vh;
        --webkit-font-size: 3.8vh;
    }

    #animation-mask {
        top: 70%;
        left: -12%;
        height: 11%;
    }
}

#animation {
    width: 50%;
    transition-duration: 3s;
    transform: translate(25%, 160%);
}

.zoom #animation {
    transform: scale(15) translate(9%, 41.5%);
}

.zoom #begin {
    transform:scale(15) translate(-300%, -750%);
}

.zoom #animation-mask {
    transform:scale(15) translate(0%, 800%);
}

/* DEBUG MODE */

.debug #canvas {
    outline: blue solid 1px;
}

.debug #canvas > div {
    outline: black solid 1px;
}

#dev-info {
    display: none;
}

.debug #dev-info {
    position: fixed;
    top: 0;
    display: block;
    height: 100px;
    width: 100px;
    padding: 20px;
    background: white;
}

#background-svg {
    position: absolute;
    height: 100%;
    width: 100%;
    transition-duration: 3s;
}

.zoom #content-svg {
    transform:scale(13) translate3d(-16%, -12.5%, 0);
}

#mask {
    transition-duration: 3s;
    transform: translate3d(0);
    opacity: 0;
}

.zoom #mask {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
}

.zoom #mask .corner-top-left {
    position: fixed;
    width: 51%;
    height: 51%;
    background-image: radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 22vw, black 15px);
}

.zoom #mask .corner-top-right {
    position: fixed;
    width: 50%;
    height: 51%;
    right: 0;
    background-image: radial-gradient(circle at 0 100%, rgba(204,0,0,0) 22vw, black 15px);
}

.zoom #mask .corner-bottom-left {
    position: fixed;
    width: 51%;
    height: 50%;
    bottom: 0;
    background-image: radial-gradient(circle at 100% 0, rgba(204,0,0,0) 22vw, black 15px);
}

.zoom #mask .corner-bottom-right {
    position: fixed;
    width: 50%;
    height: 50%;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(circle at 0 0, rgba(204,0,0,0) 22vw, black 15px);
}

#frame {
    width: 100%;
    height: 10%;
    position: absolute;
    transition-duration: 3s;
    top: 0;
}

h1 {
    text-align: center;
    font-size: 400%;
    background: whitesmoke;
    color: #00450a;
    margin: 5% 30%;
    color: #b57d3e;
    border: solid 0.3rem #b57d3e;
    border-radius: 1vh;
}

.zoom #frame {
    transform:scale(15) translate3d(0, -2000%, 0);
}

#cache {
    position: absolute;
    top: 57%;
    width: 100%;
    height: 43%;
}

#stand {
    position: absolute;
    box-sizing: border-box;
}

#success {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
}

#success span {
    background: white;
    height: 3rem;
    width: 3rem;
    border: solid 0.2rem black;
    display: inline-block;
    vertical-align: middle;
    line-height: 3rem;
    text-align: center;
    margin: 0.5rem;
}
